* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    position: relative !important;
}

.game {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game .board {
    background-color: aliceblue;
    position: relative;
    display: block;
    border: black solid 1px;
    font-weight: bold;
    text-align: center;
}

.game .board .item {
    position: absolute;
    border: black solid 1px;
    cursor: pointer;
}

.game .board .item span {
    font-size: 1.6rem;
    display: block;
    margin-top: 5px;
}

.active {
    background-color: #7FFF00;
}

.game .board .active:hover {
    background-color: #7FFF00;
}

.game .rabbit {
    background-image: url('./rabbit.png');
    background-size: cover;
    width: 70px;
    height: 90px;
}

.game .carrot {
    background-image: url('./car.png');
    background-size: cover;
    width: 80px;
    height: 45px;
}

.game .back {
    background-image: url('./back.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}

.btn-des {
    border-radius: 100px;
}

.foot {
    background-image: url('./foot-dog.png') !important;
    background-size: cover;
}

.rabbit-2 {
    background-image: url('./rabbit-2.png') !important;
    background-size: cover;
}

.rabbit-3 {
    background-image: url('./rabbit3.png') !important;
    background-size: cover;
    width: 70px !important;
    height: 100px !important;
}

.menu {
    width: 100%;
    height: 55px;
    background-color: rebeccapurple;
    justify-content: center;
    text-align: center;
}

.menu .score {
    display: inline-block;
    right: 0;
    height: 40px;
    width: 140px;
    background-color: wheat;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px;
    padding-top: 7px !important;
    font-weight: bold;
    margin-left: 250px;
}

.menu .new-game {
    display: inline-block;
    background-color: wheat;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    padding-top: 7px;
    cursor: pointer;
}

.new-game:hover {
    background-color: yellowgreen;
}

.menu .score span {
    margin-top: 10px;
}

.complete {
    width: 100%;
    height: 100%;
    top: -50px;
    background-image: url('./complete.png');
    background-size: cover;
    position: absolute;
    text-align: center;
    animation-name: moveTop;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes moveTop {
    0% {
        top: -650px;
    }
    100% {
        top: -50px;
    }
}

.score-com {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 70px;
    margin-top: 410px;
    background-color: rosybrown;
    border-radius: 40px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10px;
}

@media only screen and (max-width: 700px) {
    .body {
        justify-content: unset;
    }
    .game {
        background-color: rgb(215, 226, 204);
        width: 100vw;
        height: 100vh;
    }
    .main {
        transform: scale(0.7);
        margin-top: -100px;
    }
}

.complete a {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 15px;
}

.replay {
    background-image: url('./replay.png');
    background-size: cover;
    display: inline-block;
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.replay:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 420px) {
    body {
        background-color: #11DC7A;
    }
}